In [1]:
import pandas as pd
import nltk
import re

In [2]:
from nltk.stem.porter import PorterStemmer
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\User\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [3]:
ps = PorterStemmer()
data = []

In [4]:
df = pd.read_csv('IMDB Dataset.csv')

In [ ]:
df = df.head(500)
df

                                                 review sentiment
0     One of the other reviewers has mentioned that ...  positive
1     A wonderful little production. <br /><br />The...  positive
2     I thought this was a wonderful way to spend ti...  positive
3     Basically there's a family where a little boy ...  negative
4     Petter Mattei's "Love in the Time of Money" is...  positive
...                                                 ...       ...
4995  An interesting slasher film with multiple susp...  negative
4996  i watched this series when it first came out i...  positive
4997  Once again Jet Li brings his charismatic prese...  positive
4998  I rented this movie, after hearing Chris Gore ...  negative
4999  This was a big disappointment for me. I think ...  negative

[5000 rows x 2 columns]

In [ ]:
sentiment_df = pd.get_dummies(df["sentiment"])
sentiment_df2 = pd.concat((df, sentiment_df), axis = 1)
sentiment_df2 = sentiment_df2.drop(["sentiment"], axis=1)
sentiment_df2 = sentiment_df2.drop(["negative"], axis=1)
df = sentiment_df2.rename(columns={"positive": "sentiment"})
df

                                                 review  sentiment
0     One of the other reviewers has mentioned that ...          1
1     A wonderful little production. <br /><br />The...          1
2     I thought this was a wonderful way to spend ti...          1
3     Basically there's a family where a little boy ...          0
4     Petter Mattei's "Love in the Time of Money" is...          1
...                                                 ...        ...
4995  An interesting slasher film with multiple susp...          0
4996  i watched this series when it first came out i...          1
4997  Once again Jet Li brings his charismatic prese...          1
4998  I rented this movie, after hearing Chris Gore ...          0
4999  This was a big disappointment for me. I think ...          0

[5000 rows x 2 columns]

In [ ]:
for i in range(0, 500):
    review = df['review'][i]

    review = re.sub('[^a-zA-Z]', ' ', review)

    review = re.sub(r'\d+', '', review)

    review = review.replace('[^\W\s\S','')

    review = review.lower()

    review = review.split()

    review = [ps.stem(word) for word in review if not word in set(stopwords.words('english'))]

    review = ' '.join(review)
    data.append(review)

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=2000)
cv

CountVectorizer(max_features=2000)

In [ ]:
x = cv.fit_transform(data).toarray()
y = df.iloc[:, 1:2].values

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

ValueError: Found input variables with inconsistent numbers of samples: [500, 5000]

In [ ]:
#ANN Layers

import tensorflow
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [ ]:
model = Sequential()
model.add(Dense(1565, activation='relu'))
model.add(Dense(3000, activation='relu'))
model.add(Dense(1, activation='sigmoid'))
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
model.fit(x_train, y_train, epochs=10)

Epoch 1/10
13/13 [==============================] - 2s 62ms/step - loss: 0.9200 - accuracy: 0.5650
Epoch 2/10
13/13 [==============================] - 1s 66ms/step - loss: 0.2777 - accuracy: 0.9150
Epoch 3/10
13/13 [==============================] - 1s 66ms/step - loss: 0.0366 - accuracy: 1.0000
Epoch 4/10
13/13 [==============================] - 1s 63ms/step - loss: 0.0046 - accuracy: 1.0000
Epoch 5/10
13/13 [==============================] - 1s 64ms/step - loss: 9.6469e-04 - accuracy: 1.0000
Epoch 6/10
13/13 [==============================] - 1s 63ms/step - loss: 3.6765e-04 - accuracy: 1.0000
Epoch 7/10
13/13 [==============================] - 1s 63ms/step - loss: 2.5681e-04 - accuracy: 1.0000
Epoch 8/10
13/13 [==============================] - 1s 66ms/step - loss: 2.0461e-04 - accuracy: 1.0000
Epoch 9/10
13/13 [==============================] - 1s 64ms/step - loss: 1.7343e-04 - accuracy: 1.0000
Epoch 10/10
13/13 [==============================] - 1s 62ms/step - loss: 1.4733e-04 - accuracy: 1.0000

In [ ]:
#save the model
model.save('movie.h5')
text = "This movie is bad, very bad."
text1 = "Movie is good, has a lot of creativity."
text2 = "Boring movie, not interested"
text3 = "Good movie, might watch it again"
text4 = "Waste of money, bad movie it is. "

In [ ]:
text = re.sub('[^a-zA-Z]', ' ', text)
text1 = re.sub('[^a-zA-Z]', ' ', text1)
text2 = re.sub('[^a-zA-Z]', ' ', text2)
text3 = re.sub('[^a-zA-Z]', ' ', text3)
text4 = re.sub('[^a-zA-Z]', ' ', text4)

In [ ]:
text = text.lower()
text1 = text1.lower()
text2 = text2.lower()
text3 = text3.lower()
text4 = text4.lower()

In [ ]:
text = text.split()
text1 = text1.split()
text2 = text2.split()
text3 = text3.split()
text4 = text4.split()

In [ ]:
text = [ps.stem(word)
        for word in text if not word in set(stopwords.words('english'))]
text1 = [ps.stem(word)
        for word in text1 if not word in set(stopwords.words('english'))]
text2 = [ps.stem(word)
        for word in text2 if not word in set(stopwords.words('english'))]
text3 = [ps.stem(word)
        for word in text3 if not word in set(stopwords.words('english'))]
text4 = [ps.stem(word)
        for word in text4 if not word in set(stopwords.words('english'))]

In [ ]:
text = ' '.join(text)
text1 = ' '.join(text1)
text2 = ' '.join(text2)
text3 = ' '.join(text3)
text4 = ' '.join(text4)

In [ ]:
y_p1 = model.predict(cv.transform([text]))
y_p1 = y_p1 > 0.5
y_p1

array([[False]])

In [ ]:
y_p1 = model.predict(cv.transform([text1]))
y_p1 = y_p1 > 0.5
y_p1

array([[False]])

In [ ]:
y_p1 = model.predict(cv.transform([text2]))
y_p1 = y_p1 > 0.5
y_p1

array([[ True]])

In [ ]:
y_p1 = model.predict(cv.transform([text3]))
y_p1 = y_p1 > 0.5
y_p1

array([[ True]])

In [ ]:
y_p1 = model.predict(cv.transform([text4]))
y_p1 = y_p1 > 0.5
y_p1

array([[False]])

In [ ]:
text

'movi bad bad'

In [ ]:
text1

'engag death row relationship drama'

In [ ]:
text2

'drama bigger pictur feel emot constrain charact physic confin'

In [ ]:
text3

'genuin fun movi sad dark moment work hard get feel one movi especi comic book movi'

In [ ]:
text4

'make get stone go fox hunt funni mayb comedi thing'