In [1]:
pwd

'e:\\SmartInternz_Pynb'

# Python Basics - variables

In [2]:
a = 30
b = 40
c = a+b
print(c)

70

In [3]:
id(a)

140733884410560

In [4]:
id(b)

140733884410880

In [5]:
id(c)

140733884411840

In [6]:
c

70

In [7]:
c = 90

In [8]:
id(c)

140733884412480

In [9]:
print(a)
print(b)
print(c)

30
40
90

In [10]:
print(a,b,c)

30 40 90

In [11]:
print("a: ",a,"b: ",b,"c: ",c)

a:  30 b:  40 c:  90

In [12]:
print("the value of a is %f, the value of b is %f, the value of c is %f " %(a,b,c))

the value of a is 30.000000, the value of b is 40.000000, the value of c is 90.000000

format specifier - what is the datatype of the element = %d - integer %s = string , %f = float

In [13]:
print("value of a is {}, value of b is {},value of c is {}".format(a,b,c))

value of a is 30, value of b is 40,value of c is 90

In [14]:
a = "pradeepthi" # string
b = 25.6 # float
c= 45 # integer
d= 2+3j # complex

Which ever the varibale has mixture of characters and are enclosed in quotation can be considered as String
if the nubers lies between infinity to - infinity then it is onsidered as integer
if a variable has decimal points it s considered as flot
if avariable has maginary and real part - complex

In [ ]:
type(a)

str

In [ ]:
type(b)

float

In [ ]:
type(c)

int

In [ ]:
type(d)

complex

In [ ]:
a = int(input("enter the value of a"))# Returns String
b = int(input("enter the value of b"))# returns String
c = a+b

enter the value of a50
enter the value of b90

In [ ]:
print(c)

140

In [ ]:
type(a)

str

In [ ]:
type(b)

str

In [ ]:
a = "hello"
b = "world"
a+b

'helloworlbd'

In [ ]:
#coversting one data type into another datatype is considered as Type casting
#conversiontype(alreadt avaliable datatype)

p = "12345"
p

'12345'

In [ ]:
q = int(p)
q

12345

In [ ]:
s = float(q)
s

12345.0

In [ ]:
b = False

In [ ]:
type(b)

bool

# Python DataTypes

Strings, List, Tuple, Dictionary, Set

In [ ]:
string = "welome to externship 1 2 3 3.5 .7 3+4i" # string is combination of characters homo genious

Hetero - fomed with different datatypes
Homo - Formed with same Datatype

In [ ]:
# indexing - Giving a number position to elements present in data type , in turn used to grab the vlues indie the index position

In [ ]:
string[5]

'e'

In [ ]:
string[-11]

'3'

In [ ]:
string[7:]

'to externship 1 2 3 3.5 .7 3+4i'

In [ ]:
string[:20]

'welome to externship'

In [ ]:
string[10:20]

'externship'

In [ ]:
# data is update or we are able to chage the conent - Mutable
# data is not changable or cannot be updated - Immutable

In [ ]:
string[7]="#"

TypeError: 'str' object does not support item assignment

In [ ]:
#dir(varialename)
string2 = "hey people whats up"

In [ ]:
dir(string2)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
string2

'hey people whats up'

In [ ]:
#vaiablename.functionname(arguments)
string2.capitalize() # capitalize the first letter

'Hey people whats up'

In [ ]:
string2.casefold()# used to convert all upp case letters to lower case

'hey people whats up'

In [ ]:
st = "ABCDEFG"

In [ ]:
st.casefold()

'abcdefg'

In [ ]:
string2.center(60,"*")

'********************hey people whats up*********************'

In [ ]:
len(string2.center(40,"*"))

40

In [ ]:
string2.count("z")

0

In [ ]:
string2.endswith("p")

True

In [ ]:
string2.split() # splits the sentence in to seperate words at space and creates a list of words

['hey', 'people', 'whats', 'up']

In [ ]:
string2.split("e")

['h', 'y p', 'opl', ' whats up']

In [ ]:
#[h,yp,opl,whats up]
# only posible for list

In [ ]:
list = [1 ,2, "pradeepthi","john",23.4,3+2j]

In [ ]:
list[3]

'john'

In [ ]:
list[2:5]

['pradeepthi', 'john', 23.4]

In [ ]:
list[2:]

['pradeepthi', 'john', 23.4, (3+2j)]

In [ ]:
list[2] = 25

In [ ]:
list

[1, 2, 25, 'john', 23.4, (3+2j)]

In [ ]:
# list ia a heterogenous and mutable type of datatype

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
list

[1, 2, 25, 'john', 23.4, (3+2j)]

In [ ]:
list.append([1,2,3]) # the ardument passed is appeneded . you can appened one item at a time using append

In [ ]:
list

[1, 2, 25, 'john', 23.4, (3+2j), [1, 2, 3]]

In [ ]:
list.clear() # deletes all the available data

In [ ]:
list

[]

In [ ]:
list2 = list.copy() # copying content in to another list

In [ ]:
list2

[1, 2, 'pradeepthi', 'john', 23.4, (3+2j), [1, 2, 3]]

In [ ]:
list.count(30)

0

In [ ]:
list.extend([7,1,2,3]) # list adds all the elements passed in the arguments and seperate element

In [ ]:
list

[1, 2, 'pradeepthi', 'john', 23.4, (3+2j), [1, 2, 3], 7, 1, 2, 3]

In [ ]:
list.append([7,1,2,3])

In [ ]:
list

[1, 2, 'pradeepthi', 'john', 23.4, (3+2j), [1, 2, 3], 7, 1, 2, 3, [7, 1, 2, 3]]

In [ ]:
#APPEND - ADDS THE ELEMENT AS SINGLE ENTITY
#EXTEND - ADDS ELEMENTS AS SEPERATE ENITITY
list.index( [7, 1, 2, 3])

11

In [ ]:
list.insert(2,"smartbridge") # 1 - position , 2 - value

In [ ]:
print(list)

[1, 2, 'smartbridge', 'pradeepthi', 'john', 23.4, (3+2j), [1, 2, 3], 7, 1, 2, 3, [7, 1, 2, 3]]

In [ ]:
list

[1,
 2,
 'smartbridge',
 'pradeepthi',
 'john',
 23.4,
 (3+2j),
 [1, 2, 3],
 7,
 1,
 2,
 3,
 [7, 1, 2, 3]]

In [ ]:
list.pop()# delets the last entered element

[7, 1, 2, 3]

In [ ]:
print(list)

[1, 2, 'smartbridge', 'pradeepthi', 'john', 23.4, (3+2j), [1, 2, 3], 7, 1, 2, 3]

In [ ]:
list.remove("pradeepthi")# deletes the spcified element

ValueError: list.remove(x): x not in list

In [ ]:
list

[1, 2, 'smartbridge', 'john', 23.4, (3+2j), [1, 2, 3], 7, 1, 2, 3]

In [ ]:
list

[1, 2, 'smartbridge', 'john', 23.4, (3+2j), [1, 2, 3], 7, 1, 2, 3]

In [ ]:
list.reverse()

In [ ]:
list

[3, 2, 1, 7, [1, 2, 3], (3+2j), 23.4, 'john', 'smartbridge', 2, 1]

In [ ]:
#sort # arranges the list in asscending order . only for numerical list
list = [1,4,7,65,43,8,6,7,10]

In [ ]:
list.sort()

In [ ]:
list

[1, 4, 6, 7, 7, 8, 10, 43, 65]

In [ ]:
# creating a list with the help of loops and conditions
list = [0,2,4,6,8,10,12,14,16,18,20] # 0 to 1000

In [ ]:
#syntax = [itemtobeadeed forloop condition]
list = [i  for i in range(1000) if(i%2==0)]

In [ ]:
print(list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260, 262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286, 288, 290, 292, 294, 296, 298, 300, 302, 304, 306, 308, 310, 312, 314, 316, 318, 320, 322, 324, 326, 328, 330, 332, 334, 336, 338, 340, 342, 344, 346, 348, 350, 352, 354, 356, 358, 360, 362, 364, 366, 368, 370, 372, 374, 376, 378, 380, 382, 384, 386, 388, 390, 392, 394, 396, 398, 400, 402, 404, 406, 408, 410, 412, 414, 416, 418, 420, 422, 424, 426, 428, 430, 432, 434, 436, 438, 440, 442, 444, 446, 448, 450, 452, 454, 456, 458, 460, 462, 464, 466, 468, 470, 472, 474, 476, 478, 480, 482, 484, 486, 488, 490, 492, 494, 496, 498, 500, 502, 504, 506, 508, 510, 512, 514, 516, 518, 520, 522, 524, 526, 528, 530, 532, 534, 536, 538, 540, 542, 544, 546, 548, 550, 552, 554, 556, 558, 560, 562, 564, 566, 568, 570, 572, 574, 576, 578, 580, 582, 584, 586, 588, 590, 592, 594, 596, 598, 600, 602, 604, 606, 608, 610, 612, 614, 616, 618, 620, 622, 624, 626, 628, 630, 632, 634, 636, 638, 640, 642, 644, 646, 648, 650, 652, 654, 656, 658, 660, 662, 664, 666, 668, 670, 672, 674, 676, 678, 680, 682, 684, 686, 688, 690, 692, 694, 696, 698, 700, 702, 704, 706, 708, 710, 712, 714, 716, 718, 720, 722, 724, 726, 728, 730, 732, 734, 736, 738, 740, 742, 744, 746, 748, 750, 752, 754, 756, 758, 760, 762, 764, 766, 768, 770, 772, 774, 776, 778, 780, 782, 784, 786, 788, 790, 792, 794, 796, 798, 800, 802, 804, 806, 808, 810, 812, 814, 816, 818, 820, 822, 824, 826, 828, 830, 832, 834, 836, 838, 840, 842, 844, 846, 848, 850, 852, 854, 856, 858, 860, 862, 864, 866, 868, 870, 872, 874, 876, 878, 880, 882, 884, 886, 888, 890, 892, 894, 896, 898, 900, 902, 904, 906, 908, 910, 912, 914, 916, 918, 920, 922, 924, 926, 928, 930, 932, 934, 936, 938, 940, 942, 944, 946, 948, 950, 952, 954, 956, 958, 960, 962, 964, 966, 968, 970, 972, 974, 976, 978, 980, 982, 984, 986, 988, 990, 992, 994, 996, 998]

Task : Create a list of employee with name age salary designation

    then add qualification of employee using list functions
    change the name fromr one name to another
    delete the age

In [ ]:
tuple = (1,2, "pradeepthi","john")

In [ ]:
tuple[2]

'pradeepthi'

In [ ]:
tuple[0:3]

(1, 2, 'pradeepthi')

In [ ]:
tuple[0] = "hey"

TypeError: 'tuple' object does not support item assignment

In [ ]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [ ]:
dict = {"name":"pradeepthi","age" : 27,"qualification" : "MTECH"}

In [ ]:
# grabbing an element is possibe with help of keys 
dict["age"]

27

In [ ]:
dict["name"] = "smartbridge"

In [ ]:
dict

{'name': 'smartbridge', 'age': 27, 'qualification': 'MTECH'}

In [ ]:
# values are mutable , keys are immutable
dict = {"name":"pradeepthi","age" : 27,"qualification" : "MTECH", "abs":"pradeepthi"}

In [ ]:
dict

{'name': 'pradeepthi',
 'age': 27,
 'qualification': 'MTECH',
 'abs': 'pradeepthi'}

In [ ]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
dict = {"name":"pradeepthi","age" : 27,"qualification" : "MTECH"}

In [ ]:
dict

{'name': 'pradeepthi', 'age': 27, 'qualification': 'MTECH'}

In [ ]:
dict.clear()

In [ ]:
dict

{}

In [ ]:
dict2 = dict.copy()

In [ ]:
dict2

{'name': 'pradeepthi', 'age': 27, 'qualification': 'MTECH'}

In [ ]:
key = ("key1","key2","key3")
#value = (25,90,89)
dict = dict.fromkeys(key)

In [ ]:
dict

{'key1': None, 'key2': None, 'key3': None}

In [ ]:
p = dict.get("name")

In [ ]:
p

'pradeepthi'

In [ ]:
car = {"brand": "ford", "model":"mustang","year": 1964}

In [ ]:
x = car.get("price",1300)

In [ ]:
x

1300

In [ ]:
car

{'brand': 'ford', 'model': 'mustang', 'year': 1964}

In [ ]:
dict.items()

dict_items([('name', 'pradeepthi'), ('age', 27), ('qualification', 'MTECH')])

In [ ]:
dict.keys()

dict_keys(['name', 'age', 'qualification'])

In [ ]:
dict.values()

dict_values(['pradeepthi', 27, 'MTECH'])

In [ ]:
dict.pop("name") # pop in dict and remove in list are similar

'pradeepthi'

In [ ]:
dict

{'age': 27, 'qualification': 'MTECH'}

In [ ]:
dict.popitem()# deletes last entered key value pair

('age', 27)

In [ ]:
dict

{'age': 27}

In [ ]:
set = {1,2,3,4,5} #  strings , integer, tuple , list

In [ ]:
set[4]

TypeError: 'set' object is not subscriptable

In [ ]:
people = {"jai","idrish","archi"}
vampires = {"karan","arjun"}

In [ ]:
pop = people.union(vampires)

In [ ]:
pop

{'archi', 'arjun', 'idrish', 'jai', 'karan'}

In [ ]:
set1 = { 1,3,3,4,5}
set2 = {3,4,6,7}

In [ ]:
set3 = set1.intersection(set2)

In [ ]:
set3

{3, 4}

In [ ]:
set1 = {1,2,3,4,5}
set2 = {3,4,5,6,7}

In [ ]:
set3 = set2.difference(set1)

In [ ]:
set3

{6, 7}

In [ ]:
set = {1,2,3,4,5}

In [ ]:
set.add(10)

In [ ]:
set

{1, 2, 3, 4, 5, 10}